:root {
  --principal-color: #ED2791;
}

.color-primary {
  color: #df4f9b;
  font-family: 'ITC Clearface Black';
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  font-family: none;
}

.rotate-180 {
  transform: rotate(180deg);
  margin-top: -2px;
}


nav {
  z-index: 1000;
}

.navbar-toggler {
  z-index: 10;
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 20px;

}

.brand {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brand-highlight {
  color: var(--principal-color);
  font-family: 'ITC Clearface Black';
}

.point {
  color: #04A958;
}


.navbar-nav .nav-item:hover .nav-link {
  color: var(--principal-color) !important;
}

.navbar-toggler-icon {
  background-color: #ffffffb1;
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 30px;
  height: 38px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 10px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 20px 0 0 0;
  transition: 0.3s;
}

#label-check:checked+.hamburger-label .line1 {
  transform: rotate(26deg) scaleX(.55) translate(13px, 3px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked+.hamburger-label .line3 {
  transform: rotate(-26deg) scaleX(.55) translate(13px, -3px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked+.hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 30px;
}

/* imagen de inicio */

.father {
  position: relative;
  height: 80vh;

}

.banner {
  width: 100%;
  height: 100%;
}


.son {
  font-family: 'Anton', sans-serif;
  position: absolute;
  top: 220px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding-top: 100px;
}

.son * {
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}


.img-fluid {
  margin-bottom: -1px;
}


.son h1 {
  max-width: 100%;
  text-transform: uppercase;
  font-size: 60px;
  color: #f19ac8;
}

.son p {
  font-family: 'Overpass', sans-serif;
  max-width: 100%;
  width: auto;
  font-size: 30px;
  color: white;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.wrapper {
  width: auto;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 150px;
  white-space: nowrap;
  margin-top: 70px;
}


.wrapper h1 {
  margin-top: 10px;
  font-size: 60px;
  text-align: end;
}

.words {
  color: #f19ac8;
  height: 100px;
  overflow: hidden;

}

.words span {
  width: auto;
  font-size: 60px;
  padding-top: 50px;
  display: block;
  padding-top: 0;
  text-align: left;
  /* Alinea el texto a la izquierda */
  margin-left: 10px;
  animation: spin-words 12s infinite;
}


.container-eventos {
  background-color: #000000;
  margin-top: 20px;
}


@media screen and (max-width: 1024px) {

  .father {
    position: relative;
    height: 75vh;

  }

  .container-eventos {
    margin-top: 100px;
  }

  .wrapper {
    margin-left: 100px;
  }



  .son p {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }



  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    /* Cambia a una columna en pantallas pequeñas */
  }

  .wrapper h1 {
    text-align: center;
    font-size: 10vw;
  }

  .words span {
    font-size: 10vw;
  }

  .words {
    height: 90px;
  }

  .son {
    padding-top: 0px;
  }

  .wrapper {
    margin-left: 0px;
  }

  .container-eventos {
    margin-top: 25px;
  }

  .son p {
    font-size: 20px;
    /*    padding-left: 40px;
    padding-right: 40px; */
  }


  .father {
    position: relative;
    width: 100%;
    height: 70vh;
  }

  .banner {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }


  .words span {
    text-align: center;

  }
}


@media screen and (max-width: 480px) {

  .father {
    position: relative;
    width: 100%;
    height: 55vh;
  }

  /* .wrapper{
    margin-top:0px ;
  } */

  .wrapper h1 {
    font-size: 12vw;
  }

  .words {
    height: 60px;

  }

  .words span {
    font-size: 12vw;
  }

  .container-eventos {
    margin-top: 150px;
  }

  .son p {
    font-size: 15px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
  }


  .banner {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}









.contenedor-cards {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contenedor-cards::-webkit-scrollbar {
  width: 0px;
}





.card-evento {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.831);
  overflow: hidden;
}


.card-evento h1 {
  font-size: 25px;

}

.card-evento p {
  font-size: 18px;
}

.card-evento span {
  font-family: 'Overpass', sans-serif;
}

.artist {
  font-weight: bold;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slideer .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 7));
    -webkit-transform: translateX(calc(-200px * 7));
  }
}



.container-beers h1 {
  padding-top: 30px;
  padding-bottom: 30px;

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WHATSAPP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #01E776;
  border-radius: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

@keyframes spin-words {

  0%,
  20% {
    transform: translateY(0);
  }

  25%,
  45% {
    transform: translateY(-100%);
  }

  50%,
  70% {
    transform: translateY(-200%);
  }

  75%,
  100% {
    transform: translateY(0);
  }
}


#modal {
  display: none;
}

#modal.modal-container {
  background-color: rgba(0, 0, 0, 0.979);
  /* Cambiado para agregar un fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1010;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  padding: 5px;
  /* Ajustado para mayor espacio de contenido */
  text-align: center;
  /* Alineado el contenido al centro */
  width: 95vw;
  /* Ajustado para un ancho máximo del contenido */
  height: 95vh;
  /* Ajustado para una altura máxima del contenido */
}

#modalImage {
  object-fit: contain;
  width: 100%;

  height: 100%;
  /* Mantén la proporción de la imagen */
  border-radius: 2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  /* Ajustado para que quepa mejor en el modal */
  font-weight: bold;
  cursor: pointer;
}

#ion-icon-image {
  font-size: 25px;
  cursor: pointer;
}





.contain-map {
  width: 100%;
  display: flex;
  justify-content: center;
}

#map {
  height: 50vh;
  width: 98%;
  border-radius: 0;
  border: .1px solid rgb(170, 170, 173);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 80px;
}


/* Feedback  */





.box {
  margin-top: 60px;
}

.testimonial-reel .box {
  position: relative;
  margin-bottom: 10px;

}

.testimonial-reel .box .image {
  margin: 0 auto -45px;
  text-align: center;
}

.testimonial-reel .box .image img {
  height: 130px;
  margin: 0 auto;
}

.testimonial-reel .box .test-component {
  background-color: #fff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 200px;
}

.testimonial-reel .box .test-title {
  font-family: "Open Sans", sans-serif;
  color: #f96d02;
  text-align: center;
  margin-top: 3.3rem;
  margin-bottom: 15px;
}

.testimonial-reel .box .test-content {
  text-align: center;
}

.testimonial-reel .slick-slide {
  opacity: 0.3;
  transition: opacity 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.testimonial-reel .slick-slide.slick-cloned {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.testimonial-reel .slick-slide.slick-current.slick-active {
  opacity: 1;
  transition: opacity 0.3s;
}



/* openingHour */

#openingHour {
 
  width: 100vw;
}

.days {
  overflow-wrap: break-word;
}