:root {
  --principal-color: #ED2791;
}

.color-primary {
  color: #df4f9b;
  font-family: 'ITC Clearface Black';
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  font-family: none;
}

.rotate-180 {
  transform: rotate(180deg);
  margin-top: -2px;
}


nav {
  z-index: 1000;
}

.navbar-toggler {
  z-index: 10;
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'ITC Clearface Black';

}

.brand {
  font-size: 30px;
}

.brand-highlight {
  padding-left: 15px;
  color: var(--principal-color);
  font-family: 'ITC Clearface Black';
}

.point {
  color: #04A958;
  font-family: 'ITC Clearface Black';
  padding-left: 10px;

}

/* *{
  border: 1px solid white;
} */

.navbar-nav .nav-item:hover .nav-link {
  color: var(--principal-color) !important;
}

.navbar-toggler-icon {
  background-color: #ffffff;
  border-radius: 4px;
  height: 35px;
  width: 35px;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 30px;
  height: 38px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 10px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 20px 0 0 0;
  transition: 0.3s;
}

#label-check:checked+.hamburger-label .line1 {
  transform: rotate(26deg) scaleX(.55) translate(13px, 3px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked+.hamburger-label .line3 {
  transform: rotate(-26deg) scaleX(.55) translate(13px, -3px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked+.hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 30px;
}

/* imagen de inicio */

.father {
  position: relative;
  height: 100%;

}

.banner {
  width: 100%;
  height: 100%;
}

.son {
  font-family: 'ITC Clearface Black';
  position: absolute;
  top: 45%;
  left: 0;
  /* Alineado a la izquierda del padre */
  transform: translate(0, -50%);
  /* Corrige la posición vertical centrada */
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  /* Asegura que el ancho del hijo no se extienda más allá del ancho del padre */
}


.son * {
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}

.son p {

  margin-left: 40px;
}



.img-fluid {
  margin-bottom: -1px;
}


.son h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: var(--principal-color);
  padding: 0;

}

.pbox {
  padding-top: 0;
  width: 600px;
}

.pbox p {
  font-family: 'Overpass', sans-serif;
  max-width: 100%;
  width: auto;
  font-size: 20px;
  color: white;
  margin-left: 40px;
  overflow-wrap: break-word;

}

.wrapper {
  width: auto;
  display: flex;
  margin-left: 40px;
  gap:20px;
}



.wrapper h1 {
  margin-top: 10px;
  font-size: 60px;
}

.words {
  color: var(--principal-color);
  height: 100px;
  overflow: hidden;

}

.words span {
  width: auto;
  font-size: 60px;
  display: block;
  padding-top: 0;
  text-align: left;
  /* Alinea el texto a la izquierda */
  animation: spin-words 12s infinite;
}


.container-eventos {
  background-image: url("./images/banners/banner_evento.png");
  width: 100%;
  height: 100vh;
}


.container-eventos h1 {
  font-family: 'ITC Clearface Black';
}
.principal{
  color: var(--principal-color)!important;
}

@media screen and (max-width: 1024px) {

  .father {
    position: relative;
    height: 100vh;

  }

  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  



  .son p {
    font-size: 25px;

    padding-right: 40px;
    margin-left: 40px;
  }



}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* Cambia a una columna en pantallas pequeñas */
  }

  .wrapper h1 {
    text-align: center;
    font-size: 10vw;
  }

  .words span {
    font-size: 10vw;
  }

  .words {
    height: 90px;
  }

  .son {
    padding-top: 0px;
  }

  .wrapper {
    margin-left: 0px;
    gap: 0;

  }

  .son p {
    font-size: 20px;
    margin-left: 40px;
    padding-top: 40px;
  }


  .father {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .words span {
    text-align: center;

  }
}


@media screen and (max-width: 480px) {


  .wrapper h1 {
    font-size: 12vw;
  }

  .words {
    height: 60px;

  }

  .words span {
    font-size: 12vw;
  }



  .son p {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    margin-left: 0px;
  }

  .father {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contenedor-cards {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contenedor-cards::-webkit-scrollbar {
  width: 0px;
}





.card-evento {
  color: rgb(0, 0, 0);
  background-color: #101010;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.831);
  overflow: hidden;
}



.card-evento h1 {
  font-size: 25px;
  color: white;

}

.card-evento p {
  font-size: 18px;
  color: #f1f1f1;
}

.card-evento span {
  font-family: 'Overpass', sans-serif;
  color: white;
}

.artist {
  font-weight: bold;
  color: white;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slideer .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 7));
    -webkit-transform: translateX(calc(-200px * 7));
  }
}


.container-beers {
  width: 500px;
  height: 100vh;
  font-family: 'ITC Clearface Black';


}

.container-beers h1 {
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WHATSAPP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #01E776;
  border-radius: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

@keyframes spin-words {

  0%,
  20% {
    transform: translateY(0);
  }

  25%,
  45% {
    transform: translateY(-100%);
  }

  50%,
  70% {
    transform: translateY(-200%);
  }

  75%,
  100% {
    transform: translateY(0);
  }
}


#modal {
  display: none;
  z-index: 2010 !important;
}



#modal.modal-container {
  background-color: rgba(0, 0, 0, 0.979);
  /* Cambiado para agregar un fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 5px;

  text-align: center;

  width: 95vw;

  height: 95vh;

}

#modalImage {
  object-fit: contain;
  width: 100%;

  height: 100%;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  /* Ajustado para que quepa mejor en el modal */
  font-weight: bold;
  cursor: pointer;
}

#ion-icon-image {
  font-size: 25px;
  cursor: pointer;
}





.contain-map {
  
  display: flex;
  justify-content: center;

}

#map {
  height: 50vh;
  width: 90%;

  border: .1px solid rgb(170, 170, 173);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin-top: 80px;
}


/* Feedback  */



.testimonial-extremo{
  width: 100vw;
}

.box {
  margin-top: 60px;

}

.testimonial-reel .box {
  position: relative;
  margin-bottom: 10px;

}

.testimonial-reel .box .image {
  margin: 0 auto -45px;
  text-align: center;
}

.testimonial-reel .box .image img {
  height: 130px;
  margin: 0 auto;
}

.testimonial-reel .box .test-component {
  background-color: #fff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 200px;
  border-radius: 5px;
}

.testimonial-reel .box .test-title {
  font-family: "Open Sans", sans-serif;
  color: #f96d02;
  text-align: center;
  margin-top: 3.3rem;
  margin-bottom: 15px;
}

.testimonial-reel .box .test-content {
  text-align: center;
}

.testimonial-reel .slick-slide {
  opacity: 0.3;
  transition: opacity 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.testimonial-reel .slick-slide.slick-cloned {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.testimonial-reel .slick-slide.slick-current.slick-active {
  opacity: 1;
  transition: opacity 0.3s;
}


/* openingHour */


.days {
  overflow-wrap: break-word;
}

.animation {
  animation: reveal 12s infinite;
}

.p-hours {
  background-color: #f3c5dd;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes reveal {

  0%,
  100% {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }
}
.itc{
  font-family: 'ITC Clearface Black';
}

.container-testimonial{
  background-image: url("./images/banners/banner_testimonial.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.testimonial{
  padding-top: 200px ;
}




/* btn testimonial */

.search-bar {
  display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}

.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}

.search-bar input {
  position: relative;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 0.4em #ffffff inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50px;
}

.search-bar::before {
  content: "+";
  position: absolute;
  font-size: 1.5em;
  margin-top: 2px;
  margin-right: 8px;
  color: white;
}



.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}



.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}

.search-btn {
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0em, 0em) scale(0, 0);
  transform-origin: 0 50%;
}


.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 0.25em; /* Cambiado de 50% a 0.25em para que se vea como un "+" */
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 1em; /* Ajustado para centrar el símbolo de "+" verticalmente */
  left: 0.875em; /* Ajustado para centrar el símbolo de "+" horizontalmente */
  width: 1em; /* Ajustado para que el símbolo de "+" sea más delgado */
  height: 0.25em;
  transform: translateX(-1px) translateY(2px) ;
}

.search-btn:after {
  background: #f1f1f1;
  border-radius: 0.25em; /* Cambiado de 50% a 0.25em para que se vea como un "+" */
  top: 50%;
  left: 50%;
  width: 0.25em;
  height: 1em; /* Ajustado para que el símbolo de "+" sea más largo */
  transform: translateX(-2px) translateY(-10px) rotate(0deg);
  transform-origin: 0 50%;
}

.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #df4f9b;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}

.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: rgb(195, 65, 251);
}

.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  input {
    color: #000000;
  }

  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }

  .search-bar input:focus,
	.search-bar input:valid {
    background: #ffffff;

  }

  .search-btn {
    background: #f1f1f1;
  }
}



/* card */

.page {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 6.5rem;

}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  padding-bottom: 1.2rem;
}
