.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    height: auto;
}


.swiper-pagination{
    bottom: 0;
}

/* Cambiar color del botón activo */
.swiper-pagination-bullet-active {
    background-color: #ED2791;
    
    /* Cambiar a tu color preferido */
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #ffffff;
    /* Cambiar a tu color preferido para fondo de botones inactivos */
}

/* Cambiar color del texto del botón */
.swiper-pagination-bullet {
    color: #ffffff;
    /* Cambiar a tu color preferido */
}

.swiper-slide img {
    width: 200px;
}