.swiper-container {
    width: 100%;
    overflow: hidden;
    background-image: url('/images/banners/banner-beers.png');
    background-size: cover;
}

.swiper-slide {
    width: 100%; 
    padding: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 150px;
}


