:root {
  --principal-color: #ED2791;
}

* {
  font-family: 'ITC Clearface Black';
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #000000;
}

.banner {
  width: 100%;
  height: auto;
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 20px;
}

.brand {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brand-highlight {
  color: var(--principal-color);
}

.point {
  color: #04A958;
}


.navbar-nav .nav-item:hover .nav-link {
  color: var(--principal-color) !important;
}


.father {
  position: relative;
  height: auto;
  margin-bottom: 80px;
  padding-top: 40px;
}

.son {
  font-family: 'Anton', sans-serif;
  ;
  /* margin-top: 20px; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.son h1 {
  max-width: 100%;
  text-transform: uppercase;
  font-size: 60px;
   color: #f19ac8; 
}

.son p {
  font-family: 'Overpass', sans-serif;
  max-width: 100%;
  width: auto;
  font-size: 20px;
  margin-top: 30px;
}

.container-eventos {
  background-color: #000000;

}


.contenedor-cards {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contenedor-cards::-webkit-scrollbar {
  width: 0px;
}




/* *{
  border:1px solid white;
} */

.card-evento {
  /* padding-top: 10px; */
  /* display: flex;  */
  /* justify-content: space-between;  */
  /* width: 100%; */
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.831);
  overflow: hidden;
}

.card-evento h1 {
  font-size: 25px;

}

.card-evento p {
  font-size: 18px;
}

.card-evento span {
  font-family: 'Overpass', sans-serif;
}

.artist {
  font-weight: bold;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slideer .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 7));
    -webkit-transform: translateX(calc(-200px * 7));
  }
}

.container-beers {
  background-color: #ffffff;
}

.container-beers h1 {
  padding-top: 30px;
  padding-bottom: 0px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WHATSAPP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #01E776;
  border-radius: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}
.wrapper{
  width: 100%;
  box-sizing: content-box;
  display: flex;
  white-space: nowrap;
}
.wrapper h1{
    margin-top: 10px;
    padding-left: 10px;

}
.words span{
  width: 100%;
  font-size: 60px;
  padding-top: 50px;
  display: block;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  animation: spin-words 12s infinite;
}
.words{
  color: #f19ac8;
  height: 100px;
  overflow: hidden;
  align-items: center;
}
@keyframes spin-words {
  0%, 20% {
    transform: translateY(0);
  }
  25%, 45% {
    transform: translateY(-100%);
  }
  50%, 70% {
    transform: translateY(-200%);
  }
  75%, 100% {
    transform: translateY(0);
  }
}


#modal{
  display: none;
}

#modal.modal-container {
  background-color: rgba(0, 0, 0, 0.979); /* Cambiado para agregar un fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index:100;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  padding: 5px; /* Ajustado para mayor espacio de contenido */
  text-align: center; /* Alineado el contenido al centro */
  width: 95vw; /* Ajustado para un ancho máximo del contenido */
  height: 95vh; /* Ajustado para una altura máxima del contenido */
}

#modalImage {
  object-fit: contain;
  width: 100%;

  height: 100%; /* Mantén la proporción de la imagen */
  border-radius: 2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Ajustado para que quepa mejor en el modal */
  font-weight: bold;
  cursor: pointer;
}

#ion-icon-image{
  font-size: 20px;
}